* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: colny regular;
  src: url(./font/Coiny-Regular.ttf) format(truetype);
}
@font-face {
  font-family: fontstars;
  src: url(./font/Fonstars-4Bo0p.otf) format(opentype);
}
@font-face {
  font-family: maven;
  src: url(./font/maven-pro.bold.ttf) format(truetype);
}
@font-face {
  font-family: otaku-rant;
  src: url(./font/otaku-rant.bold.ttf);
}

h1 {
  color: rgb(27, 67, 197);
  font-size:5.61rem;
  font-family: otaku-rant;
}
h2{
  font-size: 4.209rem;
}
h3 {
  color: rgb(209, 201, 201);
  font-size:3.157rem;
}
h4 {
  color: #ebe9e9;
  font-size:2.369rem;
}
h5{
 font-size: 1.777rem;
 color: #d4d0d0;
}
h6{
  font-size:1.333rem;
}
p{
  font-size: 1rem;
  color: whitesmoke;
}
small{
  font-size: 0.75rem;
}
header {
  background-image: url(./bilder/sternenhimmel.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;

  width: 100%;
  h1 {
    display: flex;
    justify-content: end;
    justify-content: center;
    align-items: center;
    border: solid 3px re;
    background-color: rgba(190, 190, 190, 0.397);
  }
  nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.432);
    position: sticky;
    top: 0;
    margin-top: 0;
    z-index: 1000;
    padding: 1rem;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        a {
          background-color: rgb(255, 17, 0);
          margin: 4px;
          text-decoration: none;
          color: rgb(231, 229, 229);
          font-family: maven;
          font-weight: bold;
          font-size: 1.2rem;
          border-radius: 0.4rem;
          padding: 0.5rem;
          &:hover {
            background-color: rgb(170, 16, 16);
            background-size: cover;
          }
        }
      }
    }
  }
}
