* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(27, 67, 197);
  font-size: 4rem;
}
h3 {
  color: rgb(197, 196, 196);
  font-size: 1.7rem;
}
h4 {
  color: #ebe9e9;
  font-size: 1.3rem;
}
header {
  background-image: url(./bilder/sternenhimmel.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40rem;

  width: 100%;
  h1 {
    display: flex;
    justify-content: end;
    justify-content: center;
    align-items: center;
    border: solid 3px re;
    background-color: rgba(190, 190, 190, 0.397);
  }
  nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.432);
    position: sticky;
    top: 0;
    margin-top: 0;
    z-index: 1000;
    padding: 1rem;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        a {
          background-color: rgb(255, 17, 0);
          margin: 4px;
          text-decoration: none;
          color: rgb(231, 229, 229);
          font-weight: bold;
          font-size: 1.2rem;
          border-radius: 0.4rem;
          padding: 0.5rem;
          &:hover {
            background-color: rgb(170, 16, 16);
            background-size: cover;
          }
        }
      }
    }
  }
}
