* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Misc */
.btn {
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  text-decoration: none;
  color:whitesmoke;
}

.btn-danger {
  background-color: orangered;
}

body {
  background-color:black;
  font-family:colny regular;
  main {
    .card-container1 {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1rem;
      padding: 8rem 0;
      .card {
        background-color: rgb(49, 49, 49);
        min-height: 55rem;
        /* border: solid 3px rgba(255, 0, 0, 0.562); */
        border-radius: 1rem;
        text-align: center;

        .img-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          width: 30rem;
          padding: 2rem;

          img {
            width: 100%;
            border-radius: 1rem;
          }
          p {
            color: #b6afaf;
            text-align: justify;
          }
        }
      }
    }
    .card-container2 {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1rem;
      padding: 8rem 0;
      .card {
        background-color: rgb(22, 22, 22);
        min-height: 55rem;
        /* border: solid 3px rgba(255, 0, 0, 0.562); */
        border-radius: 1rem;
        text-align: center;

        .img-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          width: 30rem;
          padding: 2rem;

          img {
            width: 100%;
            border-radius: 1rem;
          }
          p {
            color: #ffffff;
            text-align: justify;
          }
        }
      }
    }
    .card-container3 {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1rem;
      padding: 8rem 0;
      .card {
        background-color: rgb(22, 22, 22);
        min-height: 55rem;
        /* border: solid 3px rgba(255, 0, 0, 0.562); */
        border-radius: 1rem;
        text-align: center;

        .img-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          width: 30rem;
          padding: 2rem;

          img {
            width: 100%;
            border-radius: 1rem;
          }
          p {
            color: #ffffff;
            text-align: justify;
          }
        }
      }
    }
    .card-container4 {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1rem;
      padding: 8rem 0;
      .card {
        background-color: rgb(22, 22, 22);
        min-height: 55rem;
        /* border: solid 3px rgba(255, 0, 0, 0.562); */
        border-radius: 1rem;
        text-align: center;

        .img-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          width: 30rem;
          padding: 2rem;

          img {
            width: 100%;
            border-radius: 1rem;
          }
          p {
            color: #ffffff;
            text-align: justify;
          }
        }
      }
    }
    .card-container5 {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1rem;
      padding: 8rem 0;
      .card {
        background-color: rgb(22, 22, 22);
        min-height: 55rem;
        /* border: solid 3px rgba(255, 0, 0, 0.562); */
        border-radius: 1rem;
        text-align: center;

        .img-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          width: 30rem;
          padding: 2rem;

          img {
            width: 100%;
            border-radius: 1rem;
          }
          p {
            color: #ffffff;
            text-align: justify;
          }
        }
      }
    }
  }
}
